nav ul li {
    float: left;
    display: inline-block;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 15px;
}

nav ul li a:hover {
    color: gray;
    border-radius: 10px;
    box-shadow: 0 0 5px gray, 0 0 5px gray;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.jumbotron img {
    width: 170px;
}


.jumbotron {
    background-image: url('img/paralax.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -170px;
    color: white;
}
.jumbotron h1, .jumbotron p {
    text-shadow: 3px 3px 5px rgba(1, 1, 1, 5);
}

#skill {
    background-color: lightgrey;
}

section {
    padding-top: 5rem;
    background-color: darkgray;
}